 <div id="page_start"></div>
 {{> title header='Завдання 1' description='В елементі .task1 пересуньте елемент .item на 200px вправо та на 150px вниз відносо початкового положення'}} 
<div class="block" >
  <img src="img/div.wrapper.png"/>
  <div class="wrapper">
    <div class="container">
    <div class='task1 task' > 
       <div class='item '> </div>
    </div>
    </div>
  </div>
</div>

{{> title header='Завдання 2' description='В елементі .task2 спозиціонуйте елемент .item посередині батьківсього елемента (ширина і висота елемента 80px)'}} 
<div class="block">
  <img src="img/div.wrapper-1.png"/>
  <div class="wrapper">
    <div class="container">
      <div class='task2 task'>
        <div class='item '> </div>
      </div>
    </div>
  </div>
</div> 

 {{> title header='Завдання 3' description='В елементі .task3 зафіксуйте елемент .item в лівому верхньому краю сторінки'}} 
<div class="wrapper ">
  <div class="container container3">
    <div class='task3 task'>
       <div class='item'>
        3
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 4' description='В елементі .task4 зафіксуйте елемент .item зверху по центру відносно батьківського елемента так щоб він залишався на місці при прокрутці контейнера'}} 
<div class="block">
  <img src="img/div.wrapper-3.png"/>
  <div class="wrapper">
    <div class="container container4">
      <div class='task4 task'>
        <div class='item '> </div>
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 5' description='В елементі .task5 розмістіть елементи .item як на картинці'}} 
<div class="block">
  <img src="img/div.wrapper-4.png"/>
  <div class="wrapper">
    <div class="container">
      <div class='task5 task'>
        <div class='item item1'>
        </div>
        <div class='item item2'>
        </div>
        <div class='item item3'>
        </div>
      </div>
    </div>
  </div>
</div>


 {{> title header='Завдання 6' description='В елементі .task6 вирівняйте елементи .item по лівій стороні з обтіканням тексту'}} 
<div class="block">
  <img src="img/div.wrapper-5.png"/>
  <div class="wrapper">
    <div class="container">
      <div class='task6 task'>
        <div class='item'>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam.  elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu   </p>
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 7' description='В елементі .task7 вирівняйте елементи .item по правій стороні з обтіканням тексту'}} 
<div class="block">
  <img src="img/div.wrapper-6.png"/>
  <div class="wrapper">
    <div class="container">
      <div class='task7 task'>
        <div class='item'>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam.  elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu   </p>
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 8' description='Зробіть щоб в елементі .task8 елемент .elem не обтікались'}} 
<div class="block">
  <img src="img/div.wrapper-7.png"/>
  <div class="wrapper">
    <div class="container">
      <div class='task8 task'>
        <div class='item item1'></div>
        <div class='item item2'></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam.  elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu   </p>

      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 9' description='Зробіть щоб в елементі .task9 елемент  .elem не обтікались справа'}} 
<div class="block">
  <img src="img/div.wrapper-8.png"/>
  <div class="wrapper">
    <div class="container">
      <div class='task9 task'>
        <div class='item item1'></div>
        <div class='item item2'></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et a  liquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam.  elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu   </p>

      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 10' description='Зробіть щоб в елементі .task10 елемент .elem не обтікались зліва'}} 
<div class="block">
  <img src="img/div.wrapper-9.png"/>
  <div class="wrapper">
    <div class="container">
      <div class='task10 task'>
        <div class='item item1'></div>
        <div class='item item2'></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et a elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam.  elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu   </p>

      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 11' description='Зробіть щоб в елементі .task11 зображення .img-item було зменшене або розтягнуте для того, щоб поміститись повністю в контейнері зі збереженням пропорцій сторін'}} 
<div class="block">
  <img src="img/div.wrapper-10.png"/>
  <div class="wrapper">
    <div class="container ">
      <div class='task11 task'>
        <img src='img/example.jpg' class="img-item"/>
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 12' description='Зробіть щоб в елементі .task12 зображення .img-item було збільшене або зменшене, щоб заповнити контейнер зі збереженням пропорцій сторін, але може бути обрізане'}} 
<div class="block">
  <img src="img/div.wrapper-11.png"/>
  <div class="wrapper">
    <div class="container ">
      <div class='task12 task'>
        <img src='img/example.jpg' class="img-item"/>
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 13' description='Розтяніть в елементі .task13 зображення .img-item для заповнення всього контейнера'}} 
<div class="block">
  <img src="img/div.wrapper-12.png"/>
  <div class="wrapper">
    <div class="container ">
      <div class='task13 task'>
        <img src='img/example.jpg' class="img-item"/>
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 14' description='Зробіть щоб в елементі .task14 зображення .img-item було зменшене, якщо воно більше контейнера, але не буде розтягнуте, якщо воно менше контейнера'}} 
<div class="block">
  <img src="img/div.wrapper-13.png"/>
  <div class="wrapper">
    <div class="container ">
      <div class='task14 task'>
        <img src='img/example.jpg' class="img-item"/>
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 15' description='Розмістіть в елементі .task15 зображення .img-item вертикально по центру та горизонтально справа'}} 
<div class="block">
  <img src="img/div.wrapper-14.png"/>
  <div class="wrapper">
    <div class="container ">
      <div class='task15 task'>
        <img src='img/example2.jpg' class="img-item"/>
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 16' description='Розмістіть в елементі .task16 зображення .img-item в лівому верхому куті'}} 
<div class="block">
  <img src="img/div.wrapper-15.png"/>
  <div class="wrapper">
    <div class="container ">
      <div class='task16 task'>
        <img src='img/example2.jpg' class="img-item"/>
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 17' description='Розмістіть в елементі .task17 зображення вертикально знизу та горизонтально по центру'}} 
<div class="block">
  <img src="img/div.wrapper-16.png"/>
  <div class="wrapper">
    <div class="container ">
      <div class='task17 task'>
        <img src='img/example2.jpg' class="img-item"/>
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 18' description='Розмістіть в елементі .task18 зображення .img-item в 40px від лівого боку, та в 25px зверху'}} 
<div class="block">
  <img src="img/div.wrapper-17.png"/>
  <div class="wrapper">
    <div class="container ">
      <div class='task18 task'>
        <img src='img/example2.jpg' class="img-item"/>
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 19' description='В елементі .task19 розмістіть зображення .img-item по центру'}} 
<div class="block">
  <img src="img/div.wrapper-18.png"/>
  <div class="wrapper">
    <div class="container ">
      <div class='task19 task'>
        <img src='img/example2.jpg' class="img-item"/>
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 20' description='Забороніть користовувачу виділяти текст в елементі .task20'}} 
<div class="wrapper">
  <div class="container  ">
    <div class='task20 task'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam.  elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu   Ut libero mauris</p>
    </div>
  </div>
</div>

 {{> title header='Завдання 21' description='Зробіть щоб при виділенні виділялись всі дочірні елементи .task21'}} 
<div class="wrapper">
  <div class="container ">
    <div class='task21 task'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam.  elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu   Ut libero mauris</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam.  elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu   Ut libero mauris</p>

    </div>
  </div>
</div>

 {{> title header='Завдання 22' description='Для елементу .task22 встановіть синій курсор редагування'}} 
<div class="wrapper">
  <div class="container ">
    <div class='task22 task'>
      <input type="text"/>
    </div>
  </div>
</div>

 {{> title header='Завдання 23' description='Встановить для html елемента плавне прокручення'}} 
      <a href="#page_start">Натисни для переходу</a>

