.task1 .item {
}

.task2 .item {
}

.task3 .item {
}

.container4 {
}

.task4 {
  width: 1000px;
}
.task4 .item {
}

.task5 .item1 {
  background-color: red;
}
.task5 .item2 {
}
.task5 .item3 {
  background-color: green;
}

.task6 .item {
}

.task7 .item {
}

.task8 .item1 {
}
.task8 .item2 {
  height: 120px;
}

.task8 p {
}

.task9 .item1 {
  height: 200px;
}
.task9 .item2 {
}
.task9 p {
}

.task10 .item1 {
}
.task10 .item2 {
}
.task10 p {
}

.task11 .img-item {
  height: 100%;
  width: 100%;
}

.task12 .img-item {
  height: 100%;
  width: 100%;
}

.task13 .img-item {
  height: 100%;
  width: 100%;
}

.task14 .img-item {
  height: 100%;
  width: 100%;
}

.task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.task20 {
}

.task21 {
}

.task22 {
}

html {
}
